
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us - Hospital Name</title>
  <!-- Include Tailwind CSS stylesheet -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.4/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <div class="flex flex-col md:flex-row justify-center items-center h-screen space-x-24 bg-gray-200">
    <a href="admin_login.html" class="w-full md:w-auto md:mx-2 px-16 py-14 text-4xl bg-red-300 hover:bg-red-400 text-black rounded-lg shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
      Admin Login
    </a>
    <a href="/dLogin" class="w-full md:w-auto md:mx-2 px-16 py-14 text-4xl bg-green-500 hover:bg-green-600 text-black rounded-lg shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
      Doctor Login
    </a>
    <a href="/pLogin" class="w-full md:w-auto md:mx-2 px-16 py-14 text-4xl bg-blue-300 hover:bg-blue-500 text-black rounded-lg shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
      Patient Login
    </a>  
  </div>
</body>
</html>